In [37]:
import pandas as pd
data = pd.read_csv('heart_disease_data.csv')
heart = pd.read_csv('heart_processed.csv')

In [38]:
data.head()

   Unnamed: 0    Entity Code  Year  ...  Population  region  t_htn_ctrl  t_htn_diag
0       14215  Zimbabwe  ZWE  2021  ...  15797220.0  Africa         NaN         NaN
1       14214  Zimbabwe  ZWE  2020  ...  15526888.0  Africa         NaN         NaN
2       14213  Zimbabwe  ZWE  2019  ...  15271377.0  Africa        16.5        47.7
3       14212  Zimbabwe  ZWE  2018  ...  15034457.0  Africa         NaN         NaN
4       14211  Zimbabwe  ZWE  2017  ...  14812484.0  Africa         NaN         NaN

[5 rows x 61 columns]

In [39]:
heart = heart.merge(data[['Entity','Year', 't_htn_ctrl','t_high_bp_30-79']], on = ['Entity','Year'], how='left')
heart.dropna(subset='t_htn_ctrl').head()

     Unnamed: 0       Entity         age  ... region  t_htn_ctrl  t_high_bp_30-79
927        1022  Afghanistan  0-14 years  ...   Asia        14.0            34.57
928        1023  Afghanistan  0-14 years  ...   Asia        14.0            34.57
929        1024  Afghanistan  0-14 years  ...   Asia        14.0            34.57
930      224208  Afghanistan  0-14 years  ...   Asia        14.0            34.57
931        1025  Afghanistan  0-14 years  ...   Asia        14.0            34.57

[5 rows x 35 columns]

In [40]:
heart[heart['Entity'].str.contains('Congo')]

       Unnamed: 0                            Entity  ... t_htn_ctrl t_high_bp_30-79
39781       43855                             Congo  ...        NaN             NaN
39782      232413                             Congo  ...        NaN             NaN
39783       43856                             Congo  ...        NaN             NaN
39784       43857                             Congo  ...        NaN             NaN
39785       43858                             Congo  ...        NaN             NaN
...           ...                               ...  ...        ...             ...
49741       54842  Democratic Republic of the Congo  ...        NaN             NaN
49742       54843  Democratic Republic of the Congo  ...        NaN             NaN
49743       54844  Democratic Republic of the Congo  ...        NaN             NaN
49744      234512  Democratic Republic of the Congo  ...        NaN             NaN
49745       54845  Democratic Republic of the Congo  ...        NaN             NaN

[2011 rows x 35 columns]

In [42]:
# heart.drop('ct_units', axis=1, inplace=True)
heart.drop('Unnamed: 0',axis=1).to_csv('heart_processed.csv')

In [20]:
help(pd.DataFrame.merge)

Help on function merge in module pandas.core.frame:

merge(self, right: 'DataFrame | Series', how: 'MergeHow' = 'inner', on: 'IndexLabel | AnyArrayLike | None' = None, left_on: 'IndexLabel | AnyArrayLike | None' = None, right_on: 'IndexLabel | AnyArrayLike | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool | None' = None, indicator: 'str | bool' = False, validate: 'MergeValidate | None' = None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    A named Series object is treated as a DataFrame with a single named column.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    .. warning::

        If both key columns contain rows where the key is a null value, those
        rows will be matched against each other. This is different from usual SQL
        join behaviour and can lead to unexpected results.

    Parameters
    ----------
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.

        .. note::
            The `copy` keyword will change behavior in pandas 3.0.
            `Copy-on-Write
            <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
            will be enabled by default, which means that all methods with a
            `copy` keyword will use a lazy copy mechanism to defer the copy and
            ignore the `copy` keyword. The `copy` keyword will be removed in a
            future version of pandas.

            You can already get the future behavior and improvements through
            enabling copy on write ``pd.options.mode.copy_on_write = True``
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  bar        2  bar        6
    3  baz        3  baz        7
    4  foo        5  foo        5
    5  foo        5  foo        8

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  bar           2  bar            6
    3  baz           3  baz            7
    4  foo           5  foo            5
    5  foo           5  foo            8

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [3]:
import pandas as pd
data = pd.read_csv('heart_processed.csv')

cols = [col for col in data.columns.tolist() if 'prev' in col]
data[cols].sample(10)

,valprevnumberboth,valprevrateboth,valprevpercentboth,valprevnumberfemale,valprevratefemale,valprevpercentfemale,valprevnumbermale,valprevratemale,valprevpercentmale
124332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200347,51110.2238,51458.1089,0.5146,27954.2396,44643.0288,0.4464,23155.9842,63083.8269,0.6308
84190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9521,146.9275,2.0524,0.0000,92.4697,2.5824,0.0000,54.4578,1.5219,0.0000
64363,18466.1709,92.2436,0.0009,5503.4893,55.0378,0.0006,12962.6816,129.3752,0.0014
119879,103622.3330,978.7828,0.0100,46892.6235,884.8844,0.0090,56729.7095,1072.8895,0.0109
171639,NaN,6669.3087,0.0680,NaN,5063.2965,0.0515,NaN,8011.3799,0.0819
92417,NaN,4215.4516,0.0442,NaN,3481.4258,0.0361,NaN,5310.3849,0.0562
65448,35660.5892,17736.0185,0.1774,17329.9871,17582.4451,0.1758,18330.6021,17883.6965,0.1789
55530,440.8683,3.5636,0.0000,262.9583,4.4936,0.0000,177.9100,2.7289,0.0000

In [2]:
for col in data[cols]:
    print(data[col].unique())

NameError: name 'data' is not defined

In [23]:
data = pd.read_csv('heart_processed.csv')

In [24]:
for col in ['t_htn_ctrl','t_high_bp_30-79']:
    data[col] = pd.to_numeric(data[col], errors='coerce')

data.dtypes

Unnamed: 0.1                int64
Unnamed: 0                  int64
Entity                     object
age                        object
cause                      object
Year                        int64
valprevnumberboth         float64
valdeathsnumberboth       float64
valprevrateboth           float64
valdeathsrateboth         float64
valprevpercentboth        float64
valdeathspercentboth      float64
valprevnumberfemale       float64
valdeathsnumberfemale     float64
valprevratefemale         float64
valdeathsratefemale       float64
valprevpercentfemale      float64
valdeathspercentfemale    float64
valprevnumbermale         float64
valdeathsnumbermale       float64
valprevratemale           float64
valdeathsratemale         float64
valprevpercentmale        float64
valdeathspercentmale      float64
Code                       object
gdp_pc                    float64
WB_Income                  object
ct_units                  float64
obesity%                  float64
pacemaker_1m              float64
statin_avail               object
statin_use_k              float64
Population                float64
region                     object
t_htn_ctrl                float64
t_high_bp_30-79           float64
dtype: object

In [25]:
data = data.drop(['Unnamed: 0','Unnamed: 0.1','statin_avail','statin_use_k'], axis=1)

In [26]:
data.to_csv('heart_processed.csv')

In [15]:
help(pd.to_numeric)

Help on function to_numeric in module pandas.core.tools.numeric:

to_numeric(arg, errors: 'DateTimeErrorChoices' = 'raise', downcast: "Literal['integer', 'signed', 'unsigned', 'float'] | None" = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>)
    Convert argument to a numeric type.

    The default return dtype is `float64` or `int64`
    depending on the data supplied. Use the `downcast` parameter
    to obtain other dtypes.

    Please note that precision loss may occur if really large numbers
    are passed in. Due to the internal limitations of `ndarray`, if
    numbers smaller than `-9223372036854775808` (np.iinfo(np.int64).min)
    or larger than `18446744073709551615` (np.iinfo(np.uint64).max) are
    passed in, it is very likely they will be converted to float so that
    they can be stored in an `ndarray`. These warnings apply similarly to
    `Series` since it internally leverages `ndarray`.

    Parameters
    ----------
    arg : scalar, list, tuple, 1-d array, or Series
        Argument to be converted.
    errors : {'ignore', 'raise', 'coerce'}, default 'raise'
        - If 'raise', then invalid parsing will raise an exception.
        - If 'coerce', then invalid parsing will be set as NaN.
        - If 'ignore', then invalid parsing will return the input.

        .. versionchanged:: 2.2

        "ignore" is deprecated. Catch exceptions explicitly instead.

    downcast : str, default None
        Can be 'integer', 'signed', 'unsigned', or 'float'.
        If not None, and if the data has been successfully cast to a
        numerical dtype (or if the data was numeric to begin with),
        downcast that resulting data to the smallest numerical dtype
        possible according to the following rules:

        - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
        - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
        - 'float': smallest float dtype (min.: np.float32)

        As this behaviour is separate from the core conversion to
        numeric values, any errors raised during the downcasting
        will be surfaced regardless of the value of the 'errors' input.

        In addition, downcasting will only occur if the size
        of the resulting data's dtype is strictly larger than
        the dtype it is to be cast to, so if none of the dtypes
        checked satisfy that specification, no downcasting will be
        performed on the data.
    dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
        Back-end data type applied to the resultant :class:`DataFrame`
        (still experimental). Behaviour is as follows:

        * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
          (default).
        * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
          DataFrame.

        .. versionadded:: 2.0

    Returns
    -------
    ret
        Numeric if parsing succeeded.
        Return type depends on input.  Series if Series, otherwise ndarray.

    See Also
    --------
    DataFrame.astype : Cast argument to a specified dtype.
    to_datetime : Convert argument to datetime.
    to_timedelta : Convert argument to timedelta.
    numpy.ndarray.astype : Cast a numpy array to a specified type.
    DataFrame.convert_dtypes : Convert dtypes.

    Examples
    --------
    Take separate series and convert to numeric, coercing when told to

    >>> s = pd.Series(['1.0', '2', -3])
    >>> pd.to_numeric(s)
    0    1.0
    1    2.0
    2   -3.0
    dtype: float64
    >>> pd.to_numeric(s, downcast='float')
    0    1.0
    1    2.0
    2   -3.0
    dtype: float32
    >>> pd.to_numeric(s, downcast='signed')
    0    1
    1    2
    2   -3
    dtype: int8
    >>> s = pd.Series(['apple', '1.0', '2', -3])
    >>> pd.to_numeric(s, errors='coerce')
    0    NaN
    1    1.0
    2    2.0
    3   -3.0
    dtype: float64

    Downcasting of nullable integer and floating dtypes is supported:

    >>> s = pd.Series([1, 2, 3], dtype="Int64")
    >>> pd.to_numeric(s, downcast="integer")
    0    1
    1    2
    2    3
    dtype: Int8
    >>> s = pd.Series([1.0, 2.1, 3.0], dtype="Float64")
    >>> pd.to_numeric(s, downcast="float")
    0    1.0
    1    2.1
    2    3.0
    dtype: Float32

In [9]:
cols_for_imputing = [col for col in data.columns.tolist() if 'prevpercent' in col] + ['Population']

data['valprevnumberboth'] = data['valprevpercentboth'] * data['Population']
data['valprevnumberfemale'] = data['valprevpercentfemale'] * data['Population']
data['valprevnumbermale'] = data['valprevpercentmale'] * data['Population']

data.sample(10)

,Unnamed: 0,Entity,age,cause,Year,valprevnumberboth,valdeathsnumberboth,valprevrateboth,valdeathsrateboth,valprevpercentboth,...,Code,gdp_pc,WB_Income,ct_units,obesity%,pacemaker_1m,Population,region,t_htn_ctrl,t_high_bp_30-79
58119,58119,Eritrea,0-14 years,Cardiovascular diseases,2001,2.751379e+04,86.3590,1156.3547,4.7663,0.0119,...,ERI,NaN,Low income,NaN,2.40,NaN,2312083.0,Africa,NaN,NaN
169613,169613,Spain,15-49 years,Cardiovascular diseases,2001,2.845947e+05,1135.0229,673.1796,7.0476,0.0069,...,ESP,35873.87000,High income,NaN,18.60,NaN,41245604.0,Europe,NaN,NaN
52667,52667,Dominica,75+ years,Cardiovascular diseases,2020,3.344980e+04,115.4136,49492.2354,4312.5967,0.4949,...,DMA,10255.85900,Upper middle income,NaN,27.90,NaN,67589.0,North America,NaN,NaN
47642,47642,Côte d'Ivoire,50-74 years,Other,2019,NaN,9189.9243,12199.5473,415.3035,0.1221,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66659,66659,Georgia,50-74 years,Lower extremity peripheral arterial disease,1984,NaN,0.3504,NaN,0.0310,NaN,...,GEO,NaN,Lower middle income,NaN,9.05,NaN,5334255.0,Asia,NaN,NaN
188287,188287,Uganda,50-74 years,Pulmonary Arterial Hypertension,1992,1.878504e+03,NaN,7.5148,NaN,0.0001,...,UGA,920.65155,Low income,NaN,1.60,NaN,18785036.0,Africa,NaN,NaN
157496,157496,Saudi Arabia,0-14 years,Other,1996,6.085641e+04,503.4047,401.4084,6.8918,0.0044,...,SAU,42417.81600,Upper middle income,NaN,23.50,NaN,13831002.0,Asia,NaN,NaN
127753,127753,Niger,50-74 years,Other,2005,1.624606e+06,3841.1205,11813.1062,413.4610,0.1181,...,NER,944.81244,Low income,NaN,3.20,NaN,13756191.0,Africa,NaN,NaN
196503,196503,Uzbekistan,0-14 years,Ischemic heart disease,2000,NaN,NaN,NaN,NaN,NaN,...,UZB,2967.60180,Low income,NaN,9.80,NaN,24787052.0,Asia,NaN,NaN
1850,1850,Albania,50-74 years,Ischemic heart disease,2015,2.666743e+05,1719.4686,9191.2123,229.8270,0.0920,...,ALB,11878.49500,Upper middle income,NaN,21.10,NaN,2898634.0,Europe,NaN,NaN

In [10]:
data.drop('Unnamed: 0', axis=1).to_csv('heart_processed1.csv')